<div class="global-wrap">

    <div class="container">
        <ul class="breadcrumb alt clearfix">
            <li><a ui-sref="master.gbs.home"><i class=" fa fa-home"></i> &nbsp; </a></li>
            <li class="active" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblPageTitle'">{{value.TextMessage}}</li>
        </ul>
        <div class="booking-item-details">
            <header class="booking-item-header">
                <h2 class="lh1em inline-rating-stars" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblPageTitle'">{{value.TextMessage}}</h2>
            </header>
        </div>
        <div class="mb20"></div>

        <div class="row">
            <div class="col-sm-7 col-md-8">
                <form name="addPropertyForm" novalidate ng-submit="vm.addProperty(addPropertyForm)">
                    <div>
                        <h4 id="lblHotelinfo" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelinfo'">{{value.TextMessage}}</h4>
                        <div class="add-property-box">
                            <div class="form-horizontal">
                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelName'">{{value.TextMessage}}<span style="color: red">*</span></label>

                                    <div class="col-sm-6">
                                        <input ng-class="{'inputError':addPropertyForm.hotelName.$touched && addPropertyForm.hotelName.$invalid || addPropertyForm.$submitted && addPropertyForm.hotelName.$invalid}" type="text" name="hotelName" ng-model="vm.hotel" required class="form-control">

                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCountry'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-5">
                                        <select required ng-class="{'inputError':addPropertyForm.Country.$touched && addPropertyForm.Country.$invalid || addPropertyForm.$submitted && addPropertyForm.Country.$invalid}" name="Country" ng-change="vm.countryChange(vm.country)" class="form-control" ng-model="vm.country">
                                            <option selected value="">Country</option>
                                            <option ng-repeat="country in vm.countryList" value="{{country.Id}}">{{country.CountryName}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCity'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-5">
                                        <select required ng-class="{'inputError':addPropertyForm.City.$touched && addPropertyForm.City.$invalid || addPropertyForm.City.$invalid && addPropertyForm.$submitted  }" name="City" ng-disabled="vm.country=='' || vm.country==null || vm.cityList.length==0" class="form-control" ng-model="vm.city">
                                            <option selected value="">City</option>
                                            <option ng-repeat="city in vm.cityList" value="{{city.Id}}">{{city.CityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelAddress'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <textarea ng-class="{'inputError':addPropertyForm.address.$touched && addPropertyForm.address.$invalid || addPropertyForm.address.$invalid && addPropertyForm.$submitted }" class="form-control" name="address" ng-model="vm.Address" rows="5" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelPhone'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <input ng-pattern="/^\d+$/" ng-minlength="10" ng-class="{'inputError':addPropertyForm.PhoneNumber.$touched && addPropertyForm.PhoneNumber.$invalid || addPropertyForm.PhoneNumber.$invalid && addPropertyForm.$submitted }" type="" name="PhoneNumber" ng-model="vm.Phone" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelFax'">{{value.TextMessage}}<span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="text" ng-pattern="/^\d+$/" ng-minlength="10" ng-class="{'inputError':addPropertyForm.Fax.$touched && addPropertyForm.Fax.$invalid || addPropertyForm.Fax.$invalid && addPropertyForm.$submitted }" ng-model="vm.Fax" name="Fax" required class="form-control">
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelType'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.Type" ng-class="{'inputError':addPropertyForm.Type.$touched && addPropertyForm.Type.$invalid || addPropertyForm.Type.$invalid && addPropertyForm.$submitted}" name="Type" required>
                                            <option selected value="">{{vm.labels.Type}}</option>
                                            <option ng-repeat="type in vm.propertyTypeList" value="{{type.Id}}">{{type.TypeName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelClass'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.Class" ng-class="{'inputError':addPropertyForm.Class.$touched && addPropertyForm.Class.$invalid || addPropertyForm.Class.$invalid && addPropertyForm.$submitted }" name="Class" required>
                                            <option selected value="">{{vm.labels.Class}}</option>
                                            <option ng-repeat="class in vm.propertyClassList" value="{{class.Id}}">{{class.Name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblAccommodationType'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.Accommodation" ng-class="{'inputError':addPropertyForm.Accommodation.$touched && addPropertyForm.Accommodation.$invalid || addPropertyForm.Accommodation.$invalid && addPropertyForm.$submitted }" name="Accommodation" required>
                                            <option selected value="">Accommodation Type</option>
                                            <option ng-repeat="accommodation in vm.propertyAccommodationList" value="{{accommodation.Id}}">{{accommodation.TypeName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblRoomCount'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-2">
                                        <input type="number" name="AllRoomCounts" ng-model="vm.Rooms" class="form-control" ng-class="{'inputError': addPropertyForm.AllRoomCounts.$touched && addPropertyForm.AllRoomCounts.$invalid || addPropertyForm.AllRoomCounts.$invalid && addPropertyForm.$submitted  }" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelWebAddress'">{{value.TextMessage}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="vm.webSite" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelEmail'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <input type="email" ng-model="vm.Email" ng-class="{'inputError':addPropertyForm.Email.$touched && addPropertyForm.Email.$invalid || addPropertyForm.Email.$invalid && addPropertyForm.$submitted  }" name="Email" required class="form-control">
                                        <label style="display:none;color:red;"></label>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCurrency'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-5">
                                        <select class="form-control" ng-model="vm.ReservationCurrency" ng-class="{'inputError':addPropertyForm.ReservationCurrency.$touched && addPropertyForm.ReservationCurrency.$invalid || addPropertyForm.ReservationCurrency.$invalid && addPropertyForm.$submitted }" name="ReservationCurrency" required>
                                            <option selected value="">Property Reservation Currency</option>
                                            <option ng-repeat="currency in vm.reservationCurrencyList" value="{{currency.Id}}">{{currency.CurrencyName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">

                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCreditCardCaption'">{{value.TextMessage}}</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox-inline checkbox-small" ng-repeat="creditCard in vm.creditCardList">
                                            <input type="checkbox" ng-model="creditCard.isChecked" name="card" ng-true-value="true" ng-false-value="false" class="i-check checkbox-small chkCreditCards" />{{creditCard.Name}}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCancelPolicy'">{{value.TextMessage}}<span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <div class="radio-block">
                                            <input class="radio-choose radio-css-custom" id="non-re" ng-model="vm.Policy" checked="checked" type="radio" name="recogida" value="local" ng-class="{'inputError':addPropertyForm.recogida.$touched && addPropertyForm.recogida.$invalid  || addPropertyForm.recogida.$invalid && addPropertyForm.$submitted}" required>
                                            <label for="non-re">Non Refundable</label>
                                        </div>
                                        <div class="radio-block">
                                            <input class="radio-choose radio-css-custom" id="re" ng-model="vm.Policy" type="radio" name="recogida" value="refundable-open" ng-class="{'inputError':addPropertyForm.recogida.$touched && addPropertyForm.recogida.$invalid || addPropertyForm.recogida.$invalid && addPropertyForm.$submitted}" required>
                                            <label for="re">Refundable</label>
                                        </div>
                                        <div ng-class="{'showDiv' : vm.Policy=='refundable-open', 'hideDiv':vm.Policy=='local' || vm.Policy ==null}">
                                            <div class="refundable-box">
                                                <div class="form-group form-group-sm">
                                                    <label> Reservation can be cancelled within the following days before the check-in date:</label>
                                                    <input type="number" ng-model="vm.beforeCancelDays" class="form-control">
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <label>The following amount will be charged in the event that the reservation is not used or not cancelled on time:</label>
                                                    <select class="form-control" ng-model="vm.cancelationPolicyId">
                                                        <option value="">The following amount will be charged in the event that the reservation is not used or not cancelled on time:</option>
                                                        <option ng-repeat="canPolicy in vm.cancelationPolicy" value="canPolicy.Id">{{canPolicy.PaneltyRate}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label"><span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.BabyCoat" ng-class="{'inputError':addPropertyForm.BabyCoat.$touched && addPropertyForm.BabyCoat.$invalid  || addPropertyForm.BabyCoat.$invalid && addPropertyForm.$submitted }" name="BabyCoat" required>
                                            <option selected value="">Baby Cot</option>
                                            <option ng-repeat="baby in vm.babyCoatList" value="{{baby.Id}}">{{baby.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label"><span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.ExtraBeds" ng-class="{'inputError':addPropertyForm.ExtraBedFac.$touched && addPropertyForm.ExtraBedFac.$invalid || addPropertyForm.ExtraBedFac.$invalid && addPropertyForm.$submitted}" name="ExtraBedFac">
                                            <option selected value="">Extra Bed</option>
                                            <option ng-repeat="exbed in vm.extraBedList" value={{exbed.Id}}>{{exbed.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label"><span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.ChildrenPolicy" ng-class="{'inputError':addPropertyForm.ChildrenPolicy.$touched && addPropertyForm.ChildrenPolicy.$invalid || addPropertyForm.ChildrenPolicy.$invalid && addPropertyForm.$submitted}" name="ChildrenPolicy" required>
                                            <option selected value="">Children Policy</option>
                                            <option ng-repeat="policy in vm.childrenPolicyList" value="{{policy.Id}}">{{policy.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelCondition'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.Internet" ng-class="{'inputError':addPropertyForm.Internet.$touched && addPropertyForm.Internet.$invalid || addPropertyForm.Internet.$invalid && addPropertyForm.$submitted}" name="Internet" required>
                                            <option selected value="">Internet</option>
                                            <option ng-repeat="internet in vm.internetList" value="{{internet.Id}}">{{internet.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label"><span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.Parking" ng-class="{'inputError':addPropertyForm.Parking.$touched && addPropertyForm.Parking.$invalid || addPropertyForm.Parking.$invalid && addPropertyForm.$submitted}" name="Parking" required>
                                            <option selected value="">Parking</option>
                                            <option ng-repeat="parking in vm.parkingList" value="{{parking.Id}}">{{parking.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label"><span style="color: red">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.DomesticAnimals" ng-class="{'inputError':addPropertyForm.DomesticAnimals.$touched && addPropertyForm.DomesticAnimals.$invalid || addPropertyForm.DomesticAnimals.$invalid && addPropertyForm.$submitted}" name="DomesticAnimals" required>
                                            <option selected value="">Domestic Animals</option>
                                            <option ng-repeat="animals in vm.domesticAnimalList" value="{{animals.Id}}">{{animals.FacilityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-5 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblChannelManager'">{{value.TextMessage}} </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="vm.ChannelManager">
                                            <option selected value="">Channel Manager</option>
                                            <option ng-repeat="manager in vm.channelManagerList" value="{{manager.Id}}">{{manager.ManagerName}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <h4 id="lblHotelRoomInfo" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomInfo'">{{value.TextMessage}} </h4>
                        <div class="add-property-box">
                            <div class="form-horizontal">
                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomType'">{{value.TextMessage}} <span style="color: red">*</span></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.RoomType" ng-class="{'inputError':addPropertyForm.RoomType.$touched && addPropertyForm.RoomType.$invalid || addPropertyForm.RoomType.$invalid && addPropertyForm.$submitted}" name="RoomType" required>
                                            <option selected value="">{{vm.labels.RoomType}}</option>
                                            <option ng-repeat="roomType in vm.roomTypeList" value="{{roomType.Id}}">{{roomType.TypeName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomCount'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="vm.RoomCount" class="form-control" ng-class="{'inputError':addPropertyForm.RoomCount.$touched && addPropertyForm.RoomCount.$invalid || addPropertyForm.RoomCount.$invalid && addPropertyForm.$submitted}" name="RoomCount" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomSize'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="text" ng-model="vm.RoomSpace" class="form-control" ng-class="{'inputError':addPropertyForm.RoomSpace.$touched && addPropertyForm.RoomSpace.$invalid || addPropertyForm.RoomSpace.$invalid && addPropertyForm.$submitted}" name="RoomSpace" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomMaxPeopleCount'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="vm.MaxPersons" class="form-control" ng-class="{'inputError':addPropertyForm.MaxPersons.$touched && addPropertyForm.MaxPersons.$invalid || addPropertyForm.MaxPersons.$invalid && addPropertyForm.$submitted}" name="MaxPersons" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomMaxChildrenCount'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="vm.MaxChildren" class="form-control" ng-class="{'inputError':addPropertyForm.MaxChildren.$touched && addPropertyForm.MaxChildren.$invalid || addPropertyForm.MaxChildren.$invalid && addPropertyForm.$submitted}" name="MaxChildren" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomBabyCotCount'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="vm.MaxBabyCot" class="form-control" ng-class="{'inputError':addPropertyForm.MaxBabyCot.$touched && addPropertyForm.MaxBabyCot.$invalid || addPropertyForm.MaxBabyCot.$invalid && addPropertyForm.$submitted }" name="MaxBabyCot" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomExtraBedCount'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-3">
                                        <input type="number" ng-model="vm.ExtraBed" class="form-control" ng-class="{'inputError':addPropertyForm.ExtraBed.$touched && addPropertyForm.ExtraBed.$invalid || addPropertyForm.ExtraBed.$invalid && addPropertyForm.$submitted}" name="ExtraBed" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomSmoking'">{{value.TextMessage}}  </label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.SmokingStatus">
                                            <option selected value="">{{vm.labels.SmokingStatus}} </option>
                                            <option ng-repeat="smolingStatus in vm.smokingStatusList" value="{{smolingStatus.Id}}">{{smolingStatus.TypeName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-7 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomView'">{{value.TextMessage}} </label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="vm.RoomView">
                                            <option selected value="">{{vm.labels.RoomView}}</option>
                                            <option ng-repeat="roomView in vm.roomViewList" value="{{roomView.Id}}">{{roomView.TypeName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group gap-20">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblHotelRoomAttribute'">{{value.TextMessage}}  {{facility}}</label>
                                    <div class="col-sm-9">
                                        <div class="row gap-10">
                                            <div class="col-xs-12 col-sm-6 checkbox-small" ng-repeat="facility in vm.RoomFacilityList">
                                                <label><input type="checkbox" ng-model="facility.isChecked" name="facilityName" ng-true-value="'true'" ng-false-value="'false'" class="checkbox-inline checkbox-small" />{{facility.Name}}</label>
                                            </div>
                                        </div>
                                        <label style="color:red;display:none;"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h4 id="lblFirmAndUserInfo" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblFirmAndUserInfo'">{{value.TextMessage}}   </h4>

                        <div class="add-property-box">
                            <div class="form-horizontal">
                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblFirmName'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.FirmName" ng-class="{'inputError':addPropertyForm.FirmName.$touched && addPropertyForm.FirmName.$invalid || addPropertyForm.FirmName.$invalid && addPropertyForm.$submitted }" name="FirmName" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonSalutation'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-2">
                                        <select class="form-control" ng-model="vm.Salutation" ng-class="{'inputError':addPropertyForm.Salutation.$touched && addPropertyForm.Salutation.$invalid || addPropertyForm.Salutation.$invalid && addPropertyForm.$submitted }" name="Salutation" required>
                                            <option selected="selected" value="">Select...</option>
                                            <option value="1">Mr.</option>
                                            <option value="2">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonName'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.ExecutiveName" ng-class="{'inputError':addPropertyForm.ExecutiveName.$touched && addPropertyForm.ExecutiveName.$invalid || addPropertyForm.ExecutiveName.$invalid && addPropertyForm.$submitted}" name="ExecutiveName" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonSurname'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.ExecutiveSurname" ng-class="{'inputError':addPropertyForm.ExecutiveSurname.$touched && addPropertyForm.ExecutiveSurname.$invalid || addPropertyForm.ExecutiveSurname.$invalid && addPropertyForm.$submitted }" name="ExecutiveSurname" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonPhone'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.ExecutivePhone" ng-class="{'inputError':addPropertyForm.ExecutivePhone.$touched && addPropertyForm.ExecutivePhone.$invalid || addPropertyForm.ExecutivePhone.$invalid && addPropertyForm.$submitted}" name="ExecutivePhone" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonEmail'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" ng-model="vm.ExecutiveEMail" ng-class="{'inputError':addPropertyForm.ExecutiveEMail.$touched && addPropertyForm.ExecutiveEMail.$invalid || addPropertyForm.ExecutiveEMail.$invalid && addPropertyForm.$submitted}" name="ExecutiveEMail" required>
                                    </div>
                                </div>

                                <div class="form-group gap-10">
                                    <label class="col-sm-3 control-label" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblContactPersonPosition'">{{value.TextMessage}}  <span style="color: red">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="vm.ExecutiveTitle" ng-class="{'inputError':addPropertyForm.ExecutiveTitle.$touched && addPropertyForm.ExecutiveTitle.$invalid || addPropertyForm.ExecutiveTitle.$invalid && addPropertyForm.$submitted}" name="ExecutiveTitle" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="checkbox checkbox-small">
                            <label class="sdfsf">
                                <input class="i-check" type="checkbox" ng-model="vm.TermsAndConditions" name="termAndConditions" required />
                                I agree with <a ng-click="vm.showTermsPopup();" >Gbshotels.com terms and conditions</a>.
                            </label>
                            <br />
                            <label ng-show="vm.TermsAndConditions==false || vm.TermsAndConditions==null && addPropertyForm.$submitted" style="color:red;">Please Check Agreement</label>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-repeat="(key, value) in vm.propertylabel | objectByKeyValFilter:'LblId':'lblAdd'">{{value.TextMessage}} </button>
                        <label style="color:green; display:none;text-align:center"></label>
                        <div class="mb10"></div>
                    </div>
                </form>
            </div>
            <div id="sticky-sidebar" class="col-sm-5 col-md-4">
                <div sticky sticky-class="imSoSticky" class="sticky-box" media-query="min-width: 1024px">
                    <div id="addpropertylabeldesign" ng-bind-html="vm.babyCoatList[0].PropertyLabelDesign | trust">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb30"></div>
    </div>
</div>