<div class="modal-body popupnew">
    <button type="button" class="close" aria-label="Close" ng-click="vm.closePopup()"><span aria-hidden="true">×</span></button>
    <div id="ForgetPassdisp" style="display: inline;">
        <h3 id="ForgetPasswordpage"></h3>
        <label style="padding-bottom:20px;text-align:center" id="lblForgotPassword">Forgot my Password</label>
        <input type="text" ng-model="vm.email" id="txtFgetEmail" placeholder="Registered Email" class="form-control" style="padding-top:10px;">
        <div style="padding-top: 25px;" align="center">
            <input type="submit" class="btn btn-primary btn-sm"  style="width:100px" ng-click="vm.forgetPassword()">
        </div>
    </div>
</div>