
<div class="modal-body popupnew">
    <button type="button" class="close" aria-label="Close" ng-click="vm.closePopup()"><span aria-hidden="true">×</span></button>
    <div>
        <h3 id="lblResetPassword">Reset Password</h3>
    </div>
    <form name="resetPassword">
        <div style="padding-top: 25px;">
            <input type="password" id="txtresetpassword" required ng-model="vm.newPassword" placeholder="New Password" class="form-control" />
            <br />
            <input type="password" id="txtresetConfirmpassword" required ng-model="vm.confirmPassword" placeholder="Confirm Password" class="form-control" />
            <div  style="padding-top: 25px;">
                <span ng-disabled="resetPassword.$invalid" class="btn btn-primary btn-sm btn-block" id="btnSigninLogin" ng-click="vm.resetPassword()">
                    <span id="spanLogin">Submit</span>
                </span>
                <!--<input id="btnSubmit1" type="button" class="btn btn-info" style="width:100px" ng-click="vm.resetPassword();" />-->
            </div>
            <div style="padding-top: 25px;">
                <span ng-click="vm.openLogin()" class="btn btn-primary btn-sm btn-block" id="btnSigninLogin" ng-click="vm.login()">
                    <span id="spanLogin">Login</span>
                </span>
            </div>
        </div>
    </form>
</div>


<!--<div id="ResetPassword" style="display:none;margin: 0px;" class="row col-md-11 col-sm-11 col-xs-11">
    <div style="padding-top: 86px;">
        <h3 id="lblResetPassword">Reset Password</h3>
    </div>
    <div style="padding-top: 55px;">
        <input type="password" id="txtresetpassword" class="form-control" />
        <br />
        <input type="password" id="txtresetConfirmpassword" class="form-control" />
        <div style="padding-top: 25px;">
            <input id="btnSubmit1" type="button" class="btn btn-info" style="width:100px" ng-click="vm.resetPassword();" />
        </div>
        <label id="lblresetpass" style="display:none; color :green; text-align:center;font-size:12px">test</label><br />
        <label id="lblsamepass" style="display:none; color :red; text-align:center;font-size:12px">test</label><br /><br />

    </div>
</div>-->
